@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor-principal: #15193E;
    --cor-branca: #FFFFFF;
    --cor-texto-secundario: #333333;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Arial';
    box-sizing: border-box;
}

body{
    background-color: var(--cor-branca);
}

nav {
    width: 100%;
}

/* Estiliza o menu de navegação */
#menu {
    background-color: var(--cor-principal);
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    list-style: none;
    font-size: 0.6rem;
    color: var(--cor-branca);
}

/* Define a grossura da fonte se a classe dele for ativo */
li.active {
    font-weight: 700;
}

/* Define a grossura da fonte se a classe dele não for ativo */
li:not(.active) {
    font-weight: 500;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .8rem;
}

.group-box-card {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    height: max-content;
    margin: 0 0 1rem 0;
}

.box-card {
    width: 85px;
    height: 108.51px;
    background-color: var(--cor-principal);
    border-radius: 15px;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 4px;
    box-shadow: 7px 12px 4px 0px rgba(0, 0, 0, 0.25);
}

.box-card-subtitle {
    font-size: 0.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--cor-branca);
    font-weight: 600;
}

.box-rectangle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    min-width: 95vw;
    margin-inline: 0.6rem;
    gap: 2px;
    border-radius: 20px;
}

.box-rectangle-subtitle {
    width: 55%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    
    font-weight: 700;
}

/* Elemento se for par */
.box-rectangle:nth-child(even) {
    background-color: var(--cor-branca);
    color: var(--cor-texto-secundario);
    box-shadow: 4px 16px 4px 0px rgba(0, 0, 0, 0.25);

}

/* Elemento se for impar */
.box-rectangle:nth-child(odd) {
    background-color: var(--cor-principal);
    color: var(--cor-branca);
}

footer{
    width: 100%;
    background-color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    gap: 5px;
}

#instagram-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: white;
    text-decoration: none;
}

#instagram-link>span{
    font-size: 0.6rem;
}